---
---

<div>
  <p>
    What can you find here?
  </p>
  <ul class="mt-5">
    <li>
      <strong>My Blogs</strong>
      My Programming journey <a href="./blog" target="_blank">Blogs</a> </a>.
    </li>
    <li>
      <strong>My Projects</strong>
      All my projects
    </li>
    <li>
      <strong>My Setup</strong>
      My Desktop setup + distro + configs + extensions
    </li>
    <li>
      <strong>Everything Else Code</strong>
      All the other code related stuff
    </li>
  </ul>
</div>
